# ignoring python compilation files
__pycache__/
*.pyc
# ignoring some file generating while test
*.npy
.ipynb_checkpoints/
.idea/
.files/
# ignoring latex compilation files
*.aux
*.log
*.lol
*.toc
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.mjd
*.dat
*.png
